<script>
  import repo from './repo.png';
</script>

<footer class="justify-center flex-column">
	<div>
		Crypto prices fetched from
		<a target="_blank" rel="noopener noreferrer" href="https://www.coinbase.com">Coinbase</a>.
	</div>
	<div>
		vasileios.tzinis@tutanota.com<br />
		<a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0">
			<img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
		</a>
		<a rel="license" target="_blank" href="https://gitlab.com/vasitzin/poolance">
			<img alt="Code Repository" src={repo} />
		</a>
	</div>
</footer>

<style>
	img {
		border-width: 0;
	}
</style>
