<script>
	import { MaterialApp } from 'svelte-materialify';
	import { themeG, verticalG, slimG, userG, assetsG } from '$lib/store.js';
	import Header from '$lib/Header.svelte';
	import Footer from '$lib/Footer/index.svelte';
	import AuthForm from '$lib/AuthForm.svelte';
	import PoolForm from '$lib/PoolForm.svelte';
	import '$lib/app.css';

	const title = 'Poolance';
	let theme = 'dark';

	themeG.set(theme);

	themeG.subscribe((value) => {
		theme = value;
	});
</script>

<MaterialApp {theme}>
	<Header {title} />
	<slot />
	<Footer />
	<PoolForm />
	<AuthForm />
</MaterialApp>

<style>
</style>
