<script>
	import { ProgressCircular } from 'svelte-materialify';
	import { verticalG, slimG, userG, assetsG } from '$lib/store.js';
	import cuckbase from '$lib/api/cuckbase.js';
	import PoolList from '$lib/PoolList.svelte';

	cuckbase.init();

	let user, assets;
	let width = 0;
	let height = 0;

	userG.subscribe((value) => {
		user = value;
	});
	assetsG.subscribe((value) => {
		assets = value;
	});

	$: width / height < 1 ? verticalG.set(true) : verticalG.set(false);
	$: width < 800 ? slimG.set(true) : slimG.set(false);
</script>

<div class="content" bind:clientWidth={width}>
	{#if user === 'pending'}
		<div />
	{:else if user}
		{#if assets === null}
			<ProgressCircular size="100" indeterminate color="primary" />
		{:else if assets.length === 0}
			<p class="bigP"><b>Sooo empty</b></p>
			<p>let's fix that...</p>
		{:else}
			{#each assets as asset}
				<PoolList pool={asset.pool} coins={asset.coins} />
			{/each}
		{/if}
	{:else}
		<p class="bigP"><b>Welcome to Poolance!</b></p>
		<p>Login, by clicking on the top-left corner logo, to display your content.</p>
	{/if}
</div>

<style>
	.bigP {
		font-size: 2.3rem;
	}
</style>
