.row.svelte-ye7spp:after{content:"";display:table;margin-top:1rem;margin-bottom:1rem;clear:both}.address.svelte-ye7spp{width:70%;float:left}.button.svelte-ye7spp{width:10%;float:left}.bigP.svelte-1kwzz9s{font-size:2.3rem}
