body {
  text-align: center;
}

a {
  color: rgb(191, 97, 155) ;
}

a:visited {
  color: rgb(136, 126, 190) ;
}

.content {
  display: flexbox;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 2rem;
  min-height: 85vh;
}