<script>
  import { Dialog, Icon, Button, TextField } from "svelte-materialify";

  import { mdiLocationExit, mdiLogin, mdiEmailPlus } from "@mdi/js";

  import { userG, loginActivateDialog, reauthActivateDialog } from "$lib/store.js";

  import tools from "$lib/api/tools.js";

  let activate = false;
  let reauthActivate = false;
  let loginStatus = "";

  loginActivateDialog.subscribe((value) => {
    activate = value;
  });

  reauthActivateDialog.subscribe((value) => {
    reauthActivate = value;
  });

  const logup = async () => {
    await tools
      .logup(document.getElementById("email").value, document.getElementById("pass").value)
      .then(async (res) => {
        if (res) {
          loginStatus = "Signup success.";
          userG.set(res);
          loginActivateDialog.set(false);
        }
        loginStatus = "";
      })
      .catch((err) => {
        console.error(err);
        loginStatus = "Signup failed.";
      });
  };

  const login = async () => {
    await tools
      .login(document.getElementById("email").value, document.getElementById("pass").value)
      .then(async (res) => {
        if (res) {
          loginStatus = "Login success.";
          userG.set(res);
          loginActivateDialog.set(false);
        }
        loginStatus = "";
      })
      .catch((err) => {
        console.error(err);
        loginStatus = "Login failed.";
      });
  };

  const reauth = async () => {
    await tools
      .reauth(document.getElementById("email").value, document.getElementById("pass").value)
      .then(async (res) => {
        if (res) {
          loginStatus = "Reauthentication success.";
          userG.set(res);
          loginActivateDialog.set(false);
        }
        loginStatus = "";
      })
      .catch((err) => {
        console.error(err);
        loginStatus = "Reauthentication failed.";
      });
    reauthActivateDialog.set(false);
  };

  const disableAuthForm = () => {
    loginActivateDialog.set(false);
  };
</script>

<Dialog class="pa-10" bind:active={activate} on:outroend={disableAuthForm}>
  <form>
    <p>{loginStatus}</p>
    <br />
    <TextField id="email" autofocus placeholder="example@email.com">Email</TextField>
    <br />
    <TextField id="pass" type="password">Password</TextField>
    <br /><br />
    <Button tile on:click={!reauthActivate ? login() : reauth()}>
      <Icon path={mdiLogin} />
    </Button>
    <Button tile disabled={reauthActivate} on:click={logup}>
      <Icon path={mdiEmailPlus} />
    </Button>
    <Button
      tile
      on:click={() => {
        loginActivateDialog.set(false);
      }}
    >
      <Icon path={mdiLocationExit} />
    </Button>
  </form>
</Dialog>
