<script>
	import { Button, Icon, Dialog, Tooltip, Row, Col } from 'svelte-materialify';

	import { mdiLocationExit, mdiRefresh, mdiContentCopy, mdiWallet } from '@mdi/js';

	import { refreshTwoMiners, refreshCoinbase } from '$lib/store.js';

	import env from '$lib/env.json';
	import tools from '$lib/api/tools.js';
	import fetcher from '$lib/api/fetcher.js';

	export let pool, coin, wallet, account, api;

	let stats = { balance: 0, immature: 0 };
	let walletInfoActivate = false;
	let modifier = env.pools[pool][coin].modifier;
	let price, value;
	let refreshAssetsG, refreshPriceG;

	refreshCoinbase.subscribe((value) => {
		refreshPriceG = value;
	});

	let fetchAssets = async () => {};
	switch (pool) {
		case '2miners':
			fetchAssets = fetcher.apiTwoMiners;
			refreshTwoMiners.subscribe((value) => {
				refreshAssetsG = value;
			});
			break;
	}

	const refreshAssets = () => {
		stats = { balance: 0, immature: 0 };
		fetchAssets(new Date().valueOf(), api).then((res) => {
			stats = res;
		});
	};

	$: if (refreshAssetsG) {
		stats = { balance: 0, immature: 0 };
		if (coin === refreshAssetsG.coin || refreshAssetsG.coin === 'all')
			fetchAssets(refreshAssetsG.time, api).then((res) => {
				stats = res;
			});
	}
	$: if (refreshPriceG) {
		price = 0;
		if (coin === refreshPriceG.coin || refreshPriceG.coin === 'all')
			fetcher.coinbase(refreshPriceG.time, coin).then((res) => {
				price = res;
			});
	}
	$: balance = (stats.balance + stats.immature) / modifier;
	$: value = Math.round(balance * price * 100) / 100;
</script>

<Row>
	<Col md={2} />
	<Col md={8}>
		<div>
			<b>{coin}</b>
			&#8776; {price}€
			<br /><br />
			<b style="font-size:1.4rem">{balance}</b>
			<br />
			{value}€
		</div>
	</Col>
	<Col md={2} style="text-align:right">
		<Tooltip left>
			<Button
				icon
				on:click={() => {
					walletInfoActivate = true;
				}}
			>
				<Icon path={mdiWallet} />
			</Button>
			<span slot="tip">Display your {coin} address</span>
		</Tooltip>
		<br />
		<Button icon on:click={tools.copyClip(balance)}>
			<Icon path={mdiContentCopy} />
		</Button>
		<br />
		<Button icon on:click={refreshAssets}>
			<Icon path={mdiRefresh} />
		</Button>
	</Col>
</Row>

<Dialog class="pa-8" bind:active={walletInfoActivate}>
	<a target="_blank" rel="noopener noreferrer" href={account}>
		{wallet}
	</a>
	<br /><br />
	<Button tile text on:click={tools.copyClip(wallet)}>
		<Icon path={mdiContentCopy} />
	</Button>
	<Button
		tile
		text
		on:click={() => {
			walletInfoActivate = false;
		}}
	>
		<Icon path={mdiLocationExit} />
	</Button>
</Dialog>
