<script>
	import { Dialog, Button, TextField, Icon } from 'svelte-materialify';

	import {
		mdiPlusBox,
		mdiMinusCircle,
		mdiContentSaveAll,
		mdiCancel,
		mdiPencil,
		mdiPencilOff,
		mdiLocationExit
	} from '@mdi/js';

	import { authG, coinFormPool, coinFormCoins, coinFormActivate } from '$lib/store.js';

	import db from '$lib/api/db';

	export let pool;

	let auth;
	let sPool = '';
	let sCoins = [];
	let activate = false;
	let activateSub = false;
	let coins = [];

	authG.subscribe((value) => {
		auth = value;
	});
	coinFormPool.subscribe((value) => {
		sPool = value;
	});
	coinFormCoins.subscribe((value) => {
		sCoins = value;
	});
	coinFormActivate.subscribe((value) => {
		if (value && pool === sPool) activate = value;
		else activate = false;
	});

	const disableCoinForm = () => {
		coinFormActivate.set(false);
	};

	const saveCoins = async () => {
		var token = await auth.currentUser.getIdToken();
		var sendCoins = [];
		for (var i = 0; i < coins.length; i++) {
			if (!document.getElementById(`wallet${i}`).value && !coins[i].wallet) {
				alert(`Wallet address for ${coins[i].coin} is missing.`);
				return;
			} else if (document.getElementById(`wallet${i}`).value) {
				coins[i].wallet = document.getElementById(`wallet${i}`).value;
			}
			sendCoins.push({ asset: coins[i].coin, wallet: coins[i].wallet });
		}
		await db.updatePoolCoins(token, pool, sendCoins).then(() => {
			location = location;
		});
	};

	const addCoin = () => {
		var value;
		if (!document.getElementById('newCoin').value) {
			alert('You have to type something.');
			return;
		} else value = document.getElementById('newCoin').value;
		coins = [...coins, { coin: value, wallet: '' }];
		activateSub = false;
	};

	const rmvCoin = (index) => {
		coins.splice(index, 1);
		coins = [...coins];
	};

	const editCoin = (index) => {
		document.getElementById(`wallet${index}`).value = coins[index].wallet;
	};

	const cancelCoin = (index) => {
		document.getElementById(`wallet${index}`).value = null;
	};

	const cancel = () => {
		coins = [...sCoins];
		for (var i = 0; i < coins.length; i++) document.getElementById(`wallet${i}`).value = null;
	};

	const exit = () => {
		activate = false;
	};

	$: if (activate) coins = [...sCoins];
	else {
		activate = false;
		activateSub = false;
		coins = [];
	}
</script>

<Dialog class="pa-8" bind:active={activate} on:outroend={disableCoinForm}>
	<p>Coins in this Pool</p>
	{#if coins}
		{#each coins as coin}
			<div class="row">
				<div class="button">
					<Button icon flat on:click={rmvCoin(coins.indexOf(coin))}>
						<Icon path={mdiMinusCircle} />
					</Button>
				</div>
				<div class="address">
					<TextField
						id={`wallet${coins.indexOf(coin)}`}
						placeholder={coin.wallet ? coin.wallet : `Write your ${coin.coin} wallet address HERE.`}
						outlined
					>
						{coin.coin}
					</TextField>
				</div>
				<div class="button">
					<Button icon flat on:click={editCoin(coins.indexOf(coin))}>
						<Icon path={mdiPencil} />
					</Button>
				</div>
				<div class="button">
					<Button icon flat on:click={cancelCoin(coins.indexOf(coin))}>
						<Icon path={mdiPencilOff} />
					</Button>
				</div>
			</div>
		{/each}
	{/if}
	<Button
		icon
		flat
		on:click={() => {
			activateSub = true;
		}}
	>
		<Icon path={mdiPlusBox} />
	</Button>
	<Button icon flat on:click={saveCoins}>
		<Icon path={mdiContentSaveAll} />
	</Button>
	<Button icon flat on:click={cancel}>
		<Icon path={mdiCancel} />
	</Button>
	<Button icon flat on:click={exit}>
		<Icon path={mdiLocationExit} />
	</Button>
</Dialog>

<Dialog class="pa-6" bind:active={activateSub}>
	<TextField id="newCoin" placeholder="eg BTC" />
	<Button icon flat on:click={addCoin}>
		<Icon path={mdiPlusBox} />
	</Button>
	<Button
		icon
		flat
		on:click={() => {
			activateSub = false;
		}}
	>
		<Icon path={mdiLocationExit} />
	</Button>
</Dialog>

<style>
	.row:after {
		content: '';
		display: table;
		margin-top: 1rem;
		margin-bottom: 1rem;
		clear: both;
	}

	.address {
		width: 70%;
		float: left;
	}

	.button {
		width: 10%;
		float: left;
	}
</style>
