<script>
	import { AppBar, Avatar, Icon, Menu, List, ListItem, Button, Divider } from 'svelte-materialify';

	import {
		mdiThemeLightDark,
		mdiLogout,
		mdiAccountCircle,
		mdiRefreshCircle,
		mdiDatabaseEdit,
		mdiAccountRemove,
		mdiDotsVertical
	} from '@mdi/js';

	import {
		slimG,
		authG,
		userG,
		themeG,
		poolFormActivate,
		loginActivateDialog,
		reauthActivateDialog,
		refreshCoinbase,
		refreshTwoMiners
	} from '$lib/store.js';

	import styles from '$lib/styles.json';
	import tools from '$lib/api/tools';

	export let title;

	let slim, auth, user, theme;
	let loggedIn = false;
	let barTitle = title;

	slimG.subscribe((value) => {
		slim = value;
	});

	authG.subscribe((value) => {
		auth = value;
	});

	userG.subscribe((value) => {
		user = value;
	});

	themeG.subscribe((value) => {
		theme = value;
	});

	const toggleTheme = () => {
		theme === 'light' ? themeG.set('dark') : themeG.set('light');
	};

	const deleteAccount = async () => {
		await tools.remove(user).catch(() => {
			reauthActivateDialog.set(true);
		});
	};

	const logout = async () => {
		await auth.signOut().then((location = location));
	};

	const activatePoolForm = () => {
		poolFormActivate.set(true);
	};

	const refreshPrices = () => {
		refreshCoinbase.set({ coin: 'all', time: new Date().valueOf() });
	};
	const refreshPools = () => {
		refreshTwoMiners.set({ coin: 'all', time: new Date().valueOf() });
	};

	$: if (user === 'pending') {
		barTitle = 'Loading...';
		loggedIn = false;
	} else if (user) {
		barTitle = user.displayName ? user.displayName : user.email.split('@')[0];
		loggedIn = true;
	} else {
		barTitle = title;
		loggedIn = false;
	}
</script>

<AppBar>
	<div slot="icon">
		{#if user === 'pending'}
			<Avatar class="warning-color" style="margin-left:1rem">
				<Icon path={mdiAccountCircle} />
			</Avatar>
		{:else if user}
			<Menu style="text-align:left">
				<div slot="activator">
					<Avatar class="info-color" style="margin-left:1rem">
						<Icon path={mdiAccountCircle} />
					</Avatar>
				</div>
				<List>
					<ListItem on:click={toggleTheme}>
						<Icon path={mdiThemeLightDark} style="margin-right:1rem" />Theme
					</ListItem>
					<ListItem on:click={deleteAccount}>
						<Icon path={mdiAccountRemove} style="margin-right:1rem" />Delete Account
					</ListItem>
					<ListItem on:click={logout}>
						<Icon path={mdiLogout} style="margin-right:1rem" />Logout
					</ListItem>
				</List>
			</Menu>
		{:else}
			<Button
				icon
				style="margin-left:1rem"
				on:click={() => {
					loginActivateDialog.set(true);
				}}
			>
				<Avatar><img src="/favicon.svg" alt="Avatar" /></Avatar>
			</Button>
		{/if}
	</div>
	<div slot="title" style="font-size:1.3rem"><b>{barTitle}</b></div>
	<div style="flex:1" />
	<div>
		{#if !user}
			<p />
		{:else if !slim}
			<b style={styles.malBig}>POOLS:</b>
			<Button tile icon disabled={!loggedIn} on:click={activatePoolForm} style={styles.malSml}>
				<Icon path={mdiDatabaseEdit} />
			</Button>
			<Button tile icon disabled={!loggedIn} on:click={refreshPools} style={styles.malSml}>
				<Icon path={mdiRefreshCircle} />
			</Button>
			<b style={styles.malBig}>PRICES:</b>
			<Button tile icon disabled={!loggedIn} on:click={refreshPrices} style={styles.maSml}>
				<Icon path={mdiRefreshCircle} />
			</Button>
		{:else}
			<Menu right>
				<div slot="activator">
					<Button tile icon>
						<Icon path={mdiDotsVertical} />
					</Button>
				</div>
				<ListItem>
					<b>POOLS</b><br />
					<Button tile icon disabled={!loggedIn} on:click={activatePoolForm}>
						<Icon path={mdiDatabaseEdit} />
					</Button>
					<Button tile icon disabled={!loggedIn} on:click={refreshPools}>
						<Icon path={mdiRefreshCircle} />
					</Button>
				</ListItem>
				<Divider />
				<ListItem>
					<b>PRICES</b><br />
					<Button tile icon disabled={!loggedIn} on:click={refreshPrices}>
						<Icon path={mdiRefreshCircle} />
					</Button>
				</ListItem>
			</Menu>
		{/if}
	</div>
</AppBar>
