<script>
	import { Icon, Button, Divider, Subheader, List, ListItem } from 'svelte-materialify';

	import { mdiRefresh, mdiFileEdit } from '@mdi/js';

	import { coinFormPool, coinFormCoins, coinFormActivate, refreshTwoMiners } from '$lib/store.js';

	import styles from '$lib/styles.json';
	import CoinCard from '$lib/CoinCard.svelte';
	import CoinForm from '$lib/CoinForm.svelte';

	export let pool, coins;

	const activateCoinForm = () => {
		coinFormPool.set(pool);
		coinFormCoins.set([]);
		coinFormCoins.set(coins);
		coinFormActivate.set(true);
	};

	let refreshPool = () => {
		console.error('PoolList.refreshPool not initialized!');
	};

	switch (pool) {
		case '2miners':
			refreshPool = () => {
				refreshTwoMiners.set({ coin: 'all', time: new Date().valueOf() });
			};
			break;
		case 'ethermine':
			refreshPool = () => {
				/*TODO*/
			};
			break;
		case 'minexmr':
			refreshPool = () => {
				/*TODO*/
			};
			break;
	}
</script>

<List outlined style={styles.pools}>
	<Subheader style="font-size:1.1rem">
		<b>{pool}</b>
		<div style="flex:1" />
		<Button icon on:click={activateCoinForm}>
			<Icon path={mdiFileEdit} />
		</Button>
		<Button icon on:click={refreshPool}>
			<Icon path={mdiRefresh} />
		</Button>
	</Subheader>
	{#each coins as coin}
		{#if coins.indexOf(coin) === 0}
			<Divider />
		{/if}
		<ListItem>
			<CoinCard
				{pool}
				coin={coin.coin}
				wallet={coin.wallet}
				account={coin.account}
				api={coin.api}
			/>
		</ListItem>
		{#if !(coins.indexOf(coin) === coins.length - 1)}
			<Divider />
		{/if}
	{/each}
</List>

<CoinForm {pool} />
