<script>
	import { Dialog, Button, Checkbox, Icon, Col, Row } from 'svelte-materialify';

	import { mdiContentSaveAll, mdiLocationExit } from '@mdi/js';

	import { authG, assetsG, poolFormActivate } from '$lib/store.js';

	import env from '$lib/env.json';
	import db from '$lib/api/db.js';

	let auth;
	let assetPools = [];
	let activate = false;
	let pools = Object.keys(env.pools);

	authG.subscribe((value) => {
		auth = value;
	});
	assetsG.subscribe((value) => {
		if (value) {
			for (var i = 0; i < value.length; i++) {
				assetPools = [...assetPools, value[i].pool];
			}
		}
	});
	poolFormActivate.subscribe((value) => {
		activate = value;
	});

	const isChecked = (pool) => {
		if (assetPools.includes(pool)) return true;
		else return false;
	};

	const disablePoolForm = () => {
		poolFormActivate.set(false);
	};

	const savePools = async () => {
		var token = await auth.currentUser.getIdToken();
		var sendPools = [];
		for (var i = 0; i < pools.length; i++) {
			var pool = pools[i];
			if (document.getElementById(pool).checked) sendPools = [...sendPools, pool];
		}
		await db.updatePools(token, sendPools).then(() => {
			location = location;
		});
	};

	const exit = () => {
		activate = false;
	};
</script>

<Dialog class="pa-10" bind:active={activate} on:outroend={disablePoolForm}>
	<p>Choose the pools you are using from the supported list.</p>
	<Row>
		{#each pools as pool}
			<Col>
				<Checkbox id={pool} checked={isChecked(pool)}>{pool}</Checkbox>
			</Col>
		{/each}
	</Row>
	<Button icon flat on:click={savePools}>
		<Icon path={mdiContentSaveAll} />
	</Button>
	<Button icon flat on:click={exit}>
		<Icon path={mdiLocationExit} />
	</Button>
</Dialog>
